{%extends 'login/base.html'%}

{% block log %}
    <div class="login-container">
        <div class="login-box">
            <h1>DIVERTIKIDS</h1>
            <h2>Registrarse</h2>
            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ form.username }}  <!-- Campo para el nombre de usuario -->
                </div>
          
                <div class="form-group">
                    {{ form.first_name }}  <!-- Campo para el nombre -->
                </div>
          
                <div class="form-group">
                    {{ form.last_name }}  <!-- Campo para el apellido -->
                </div>
          
                <div class="form-group">
                    {{ form.email }}  <!-- Campo para el correo electrónico -->
                </div>
          
                <div class="form-group">
                    {{ form.fecha_nacimiento }}  <!-- Campo para la fecha de nacimiento -->
                </div>
          
                <div class="form-group">
                    {{ form.telefono }}  <!-- Campo para el teléfono -->
                </div>
          
                <div class="form-group">
                    {{ form.password1 }}  <!-- Campo para la contraseña -->
                </div>
          
                <div class="form-group">
                    {{ form.password2 }}  <!-- Campo para confirmar la contraseña -->
                </div>

                <div class="form-group">
                    <input type="checkbox" id="mostrar_contrasena" onclick="togglePasswordVisibility()">
                    <label for="mostrar_contrasena">Mostrar Contraseña</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>

                <div class="form-group">
                    <a href="{% url 'log_in' %}">¿Ya tienes cuenta?</a>
                </div>

                <div class="form-group">
                    <a href="{% url 'home' %}">Volver a Home</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}