{% extends 'core/base.html' %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles_rewie.css' %}">
{% endblock %}

{% block cont %}
<div class="container mt-5" style="margin-top: 120px;">
    <h2 class="mb-4">Añadir Reseña</h2>
    <form method="POST">
        {% csrf_token %}
        
        <!-- Rating con estrellas y números -->
        <div class="mb-4">
            <label class="form-label">Rating:</label>
            <div class="rating">
                <input type="radio" name="rating" value="5" id="star5"><label for="star5"><i class="fa-solid fa-star"></i> </label>
                <input type="radio" name="rating" value="4" id="star4"><label for="star4"><i class="fa-solid fa-star"></i> </label>
                <input type="radio" name="rating" value="3" id="star3"><label for="star3"><i class="fa-solid fa-star"></i> </label>
                <input type="radio" name="rating" value="2" id="star2"><label for="star2"><i class="fa-solid fa-star"></i> </label>
                <input type="radio" name="rating" value="1" id="star1"><label for="star1"><i class="fa-solid fa-star"></i> </label>
            </div>
        </div>

        <!-- Campo para el comentario -->
        <div class="mb-4">
            <label class="form-label">Comentario:</label>
            <textarea class="form-control" name="comment" rows="4" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar Reseña</button>
    </form>

    <!-- Listado de Reseñas Existentes -->
    <div class="mt-5">
        <h2>Reseñas Existentes</h2>
        {% if reviews %}
            {% for review in reviews %}
                <div class="review mb-4 p-3 border rounded">
                    <p><strong>{{ review.user.first_name }}</strong> - {{ review.created_at|date:"d M Y H:i" }}</p>
                    <p>Calificación: {{ review.rating }} estrellas</p>
                    <p>{{ review.comment }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay reseñas disponibles.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
