{% extends 'core/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'core/css/c.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles_carrito.css' %}">
{% endblock %}

container
{% block cont %}

  <section class="page-section bg-light" id="productos">
    <div class="container1 px-4 px-lg-5">
        
        <div class="row gx-4 gx-lg-5">
    <div class="container1">


      <h2>Carrito de Compras</h2>
      <hr class="divider" />
      
      <div class="section products product-container1">
        <h3>Tu Carrito</h3>
        <div class="product">
          <span class="product-name">Piscina de Pelotas</span>
          <span class="product-price">$15.00</span>
          <div class="quantity-control">
            <button onclick="changeProductQuantity('Producto 1', -1)">-</button>
            <span id="Producto 1-quantity">0</span>
            <button onclick="changeProductQuantity('Producto 1', 1)">+</button>
            <button class="remove-btn" onclick="removeProduct('Producto 1')">Eliminar</button>
          </div>
        </div>
        <div class="product">
          <span class="product-name">Producto 2</span>
          <span class="product-price">19.99</span>
          <div class="quantity-control">
            <button onclick="changeProductQuantity('Producto 2', -1)">-</button>
            <span id="Producto 2-quantity">0</span>
            <button onclick="changeProductQuantity('Producto 2', 1)">+</button>
            <button class="remove-btn" onclick="removeProduct('Producto 2')">Eliminar</button>
          </div>
        </div>
        <div class="product">
          <span class="product-name">Producto 3</span>
          <span class="product-price">9.99</span>
          <div class="quantity-control">
            <button onclick="changeProductQuantity('Producto 3', -1)">-</button>
            <span id="Producto 3-quantity">0</span>
            <button onclick="changeProductQuantity('Producto 3', 1)">+</button>
            <button class="remove-btn" onclick="removeProduct('Producto 3')">Eliminar</button>
          </div>
        </div>
      </div>

      <div class="total-section">
        Total a Pagar: $<span id="total">0</span>
        <button class="buy-btn" onclick="handleBuy()">Comprar</button>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock %}

