{% extends 'core/base.html' %}
{% load static %}

{% block cont %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold img_logo_ban"><img src="{% static 'core/assets/img/logosb-removebg-preview.png' %}" alt=""></h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">DivertiKids ofrece una experiencia única de arriendo de juegos infantiles, donde la diversión de los niños y la tranquilidad de los padres se unen. Equipos seguros, diversión sin límites y eventos inolvidables. 
                    </br>¡Haz de tus celebraciones un momento único con DivertiKids!</p>
                    <a class="btn btn-primary btn-xl" href="#services">¡Descubrelo!</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Servicios-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">Servicios</h2>
            <hr class="divider" />
        </div>
    </section>    
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/1p.jpg' %}" title="Alquiler de camas Elasticas">
                        <img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/1p.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Servicios</div>
                            <div class="project-name"> Alquiler de camas Elasticas</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/2p.jpg' %}" title="Alquiler de Juegos Infantiles">
                        <img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/2p.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Servicios</div>
                            <div class="project-name">Alquiler de Juegos Infantiles</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/3p.jpg' %}" title="Alquiler de Inflables">
                        <img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/3p.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Servicios</div>
                            <div class="project-name">Alquiler de Inflables</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/4p.jpg' %}" title="Packs Temáticos">
                        <img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/4p.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Servicios</div>
                            <div class="project-name">Packs Temáticos</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/5p.jpg' %}" title="Alquiler de Equipos Especiales">
                        <img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/5p.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Servicios</div>
                            <div class="project-name">Alquiler de Equipos Especiales</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/p6.jpg' %}" title="Mobiliario Infantil">
                        <img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/p6.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Servicios</div>
                            <div class="project-name">Mobiliario Infantil</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Alcance-->
    <section class="page-section" id="range">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Nuestro alcance</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5" style="display: flex; justify-content: center; align-items: center;">
                <div style="text-align: center;">
                    <img src="{% static 'core/assets/img/Provincia_Concepcion.png' %}" alt="" style="width: 30%; height: 30%;">
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <ul class="h4 mb-2" style="text-align: left;">
                            <li>
                                Concepción
                            </li>
                            <li>
                                San Pedro de la Paz
                            </li>
                            <li>
                                Talcahuano
                            </li>
                            <li>
                                Hualpén
                            </li>
                            <li>
                                Penco
                            </li>
                            <li>
                                Chiguayante
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <ul class="h4 mb-2" style="text-align: left;">
                            <li>
                                Coronel
                            </li>
                            <li>
                                Lota
                            </li>
                            <li>
                                Hualqui
                            </li>
                            <li>
                                Tomé
                            </li>
                            <li>
                                Florida
                            </li>
                            <li>
                                Santa Juana
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">¡VE TODOS NUESTROS PRODUCTOS!</h2>
            <a class="btn btn-light btn-xl" href="{% url 'productos' %}">Ir a productos</a>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">¿Tienes dudas?</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Mandanos tus consultas detalladas por este medio.</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form action="https://formspree.io/f/xwpkjzwn" method="POST" style="background-color: #fff; border-radius: 8px; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 300px; font-family: Arial, sans-serif;">
                        <label style="display: block; margin-bottom: 10px; font-weight: bold; color: #333;">
                            Nombre completo:
                            <input type="text" name="name" required style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                        </label>
                        <label style="display: block; margin-bottom: 10px; font-weight: bold; color: #333;">
                            Email:
                            <input type="email" name="email" required style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                        </label>
                        <label style="display: block; margin-bottom: 10px; font-weight: bold; color: #333;">
                            Número de teléfono:
                            <input type="number" name="phone" required style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                        </label>
                        <label style="display: block; margin-bottom: 10px; font-weight: bold; color: #333;">
                            Mensaje:
                            <textarea name="message" required style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px; box-sizing: border-box; resize: none; height: 80px;"></textarea>
                        </label>
                        <button type="submit" style="width: 100%; padding: 10px; background-color: #a998b3; border: none; border-radius: 4px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-transform: uppercase;">Enviar</button>
                    </form>
                        <!---->
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+9 4412 7554</div>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/people/Divertikids/61550844252186/?_rdrhttps%3A%2F%2Fm.facebook.com%2Fprofile.php%3Fid=61550844252186" target="_blank" class="social-icon facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://wa.me/944127554" target="_blank" class="social-icon whatsapp">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com/divertikids_ccp/" target="_blank" class="social-icon instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        
    </section>
    {% endblock %}

